{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Inventory API v2",
    "description": "Inventory API for the Cloud Native Workshop",
    "contact": {}
  },
  "host": "echo-api.3scale.net",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/inventory": {
      "get": {
        "description": "Should return all elements as an array of InventoryItems or an empty array if there are none",
        "summary": "Get all inventory items",
        "operationId": "Getallinventoryitems",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Should return an arry of InventoryItems",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RootTypeforInventoryItem"
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/inventory/{itemId}": {
      "get": {
        "description": " Returns the item for the id provided or an error",
        "summary": "Get one InventoryItem",
        "operationId": "GetoneInventoryItem",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Should return the item for the id provided",
            "schema": {
              "$ref": "#/definitions/RootTypeforInventoryItem"
            },
            "headers": {}
          },
          "404": {
            "description": "Item not found",
            "schema": {
              "$ref": "#/definitions/RootTypeforGenericError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "RootTypeforInventoryItem": {
      "title": "RootTypeforInventoryItem",
      "description": "The root of the InventoryItem type's schema.",
      "type": "object",
      "properties": {
        "itemId": {
          "type": "string"
        },
        "quantity": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "RootTypeforGenericError": {
      "title": "RootTypeforGenericError",
      "description": "Generic Error Object.",
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },
  "tags": []
}
