{
    "swagger": "2.0",
    "info": {
        "title": "Open Data APIs",
        "version": "1.1.0",
        "description": "OpenBanking Open Data APIs",
        "license": {
            "name": "GNU GPLv3",
            "url": "https://www.gnu.org/licenses/gpl.txt"
        }
    },
    "host": "opendata.api.5.9.49.249.xip.io",
    "basePath": "/open-data",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/banks/{bank_id}/branches": {
            "get": {
                "responses": {
                    "200": {
                        "description": "list of branches",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "application/json": {
                                "atms": [
                                    {
                                        "id": "1f5a-964",
                                        "bank_id": "at02-0182--01",
                                        "name": "OFICINA-964",
                                        "address": {
                                            "line_1": "Victor De La Serna, 32",
                                            "line_2": "NA",
                                            "line_3": "NA",
                                            "city": "MADRID",
                                            "county": "CHANMARTIN",
                                            "state": "MADRID",
                                            "postcode": "28016",
                                            "country_code": "ES"
                                        },
                                        "location": {
                                            "latitude": 40455451,
                                            "longitude": -3670617
                                        },
                                        "meta": {
                                            "license": {
                                                "id": "copyrightENBDG2016",
                                                "name": "Copyright 2016 ENBDG"
                                            }
                                        },
                                        "monday": {},
                                        "tuesday": {},
                                        "wednesday": {},
                                        "thursday": {},
                                        "friday": {},
                                        "saturday": {},
                                        "sunday": {},
                                        "is_accessible": "",
                                        "has_deposit_capability": ""
                                    },
                                    {
                                        "id": "3103-4922",
                                        "bank_id": "at02-0182--01",
                                        "name": "OFICINA-4922",
                                        "address": {
                                            "line_1": "Alberto Alcocer,48",
                                            "line_2": "NA",
                                            "line_3": "NA",
                                            "city": "MADRID",
                                            "county": "CHANMARTIN",
                                            "state": "MADRID",
                                            "postcode": "28016",
                                            "country_code": "ES"
                                        },
                                        "location": {
                                            "latitude": 40458424,
                                            "longitude": -3678969
                                        },
                                        "meta": {
                                            "license": {
                                                "id": "copyrightENBDG2016",
                                                "name": "Copyright 2016 ENBDG"
                                            }
                                        },
                                        "monday": {},
                                        "tuesday": {},
                                        "wednesday": {},
                                        "thursday": {},
                                        "friday": {},
                                        "saturday": {},
                                        "sunday": {},
                                        "is_accessible": "",
                                        "has_deposit_capability": ""
                                    },
                                    {
                                        "id": "95a0-2241",
                                        "bank_id": "at02-0182--01",
                                        "name": "OFICINA-2241",
                                        "address": {
                                            "line_1": "Avenida Pio XII, 6 ",
                                            "line_2": "NA",
                                            "line_3": "NA",
                                            "city": "MADRID",
                                            "county": "CHANMARTIN",
                                            "state": "MADRID",
                                            "postcode": "28016",
                                            "country_code": "ES"
                                        },
                                        "location": {
                                            "latitude": 40464105,
                                            "longitude": -3675513
                                        },
                                        "meta": {
                                            "license": {
                                                "id": "copyrightENBDG2016",
                                                "name": "Copyright 2016 ENBDG"
                                            }
                                        },
                                        "monday": {},
                                        "tuesday": {},
                                        "wednesday": {},
                                        "thursday": {},
                                        "friday": {},
                                        "saturday": {},
                                        "sunday": {},
                                        "is_accessible": "",
                                        "has_deposit_capability": ""
                                    },
                                    {
                                        "id": "c0c2-4015",
                                        "bank_id": "at02-0182--01",
                                        "name": "OFICINA-4015",
                                        "address": {
                                            "line_1": "Principe De Vergara, 267",
                                            "line_2": "NA",
                                            "line_3": "NA",
                                            "city": "MADRID",
                                            "county": "CHANMARTIN",
                                            "state": "MADRID",
                                            "postcode": "28016",
                                            "country_code": "ES"
                                        },
                                        "location": {
                                            "latitude": 40457394,
                                            "longitude": -3677183
                                        },
                                        "meta": {
                                            "license": {
                                                "id": "copyrightENBDG2016",
                                                "name": "Copyright 2016 ENBDG"
                                            }
                                        },
                                        "monday": {},
                                        "tuesday": {},
                                        "wednesday": {},
                                        "thursday": {},
                                        "friday": {},
                                        "saturday": {},
                                        "sunday": {},
                                        "is_accessible": "",
                                        "has_deposit_capability": ""
                                    }
                                ]
                            }
                        }
                    }
                },
                "description": "get branches available by a specific bank"
            },
            "parameters": [
                {
                    "name": "bank_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/banks/{bank_id}/atms/{atm_id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "get atm info given atm and bank id"
                    }
                },
                "description": "get atm info"
            },
            "parameters": [
                {
                    "name": "bank_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "atm_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/banks": {
            "get": {
                "responses": {
                    "200": {
                        "description": "get list of available banks"
                    }
                },
                "description": "get list of banks"
            },
            "parameters": [
                {
                    "name": "user_key",
                    "in": "query",
                    "required": false,
                    "type": "string",
                    "x-data-threescale-name": "user_keys"
                }
            ]
        },
        "/banks/{bank_id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "list of bank details given the bank id"
                    }
                },
                "description": "get bank details"
            },
            "parameters": [
                {
                    "name": "bank_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/banks/{bank_id}/atms": {
            "get": {
                "responses": {
                    "200": {
                        "description": "get list of atms given bank id",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ATM"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "bankid": "some text",
                                    "atmdescription": "some text"
                                },
                                {
                                    "bankid": "some text",
                                    "atmdescription": "some text"
                                }
                            ]
                        }
                    }
                },
                "description": "get bank atms"
            },
            "parameters": [
                {
                    "name": "bank_id",
                    "description": "Bank id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "user_key",
                    "in": "query",
                    "required": false,
                    "type": "string",
                    "x-data-threescale-name": "user_keys"
                }
            ]
        },
        "/banks/{bank_id}/branches/{branch_id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "returns branch info given branch and bank id"
                    }
                },
                "description": "get branch info"
            },
            "parameters": [
                {
                    "name": "bank_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "branch_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/banks/{bank_id}/products": {
            "get": {
                "responses": {
                    "200": {
                        "description": "get products available in a given bank"
                    }
                },
                "description": "get products"
            },
            "parameters": [
                {
                    "name": "bank_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/banks/{bank_id}/products/{product_id}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "get product info given a bank and product id"
                    }
                },
                "description": "get product info"
            },
            "parameters": [
                {
                    "name": "bank_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "product_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        }
    },
    "definitions": {
        "ATM": {
            "description": "atm",
            "type": "object",
            "properties": {
                "bankid": {
                    "description": "Bank id",
                    "type": "string"
                },
                "atmdescription": {
                    "description": "Atm description",
                    "type": "string"
                }
            }
        }
    },
    "securityDefinitions": {
        "userkey": {
            "type": "apiKey",
            "description": "userkey",
            "name": "user-key",
            "in": "query"
        }
    },
    "security": [
        {
            "userkey": []
        }
    ],
    "tags": [
        {
            "name": "PSD2",
            "description": ""
        },
        {
            "name": "Open Banking",
            "description": ""
        },
        {
            "name": "Branch",
            "description": ""
        },
        {
            "name": "ATM",
            "description": ""
        },
        {
            "name": "Product",
            "description": ""
        }
    ]
}
