{
    "swagger": "2.0",
    "info": {
        "title": "Open Data APIs",
        "description": "OpenBanking Open Data APIs",
        "license": {
            "name": "GNU GPLv3",
            "url": "https://www.gnu.org/licenses/gpl.txt"
        },
        "version": "1.1.0"
    },
    "host": "opendata.api.5.9.49.249.xip.io",
    "basePath": "/open-data",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/banks/{bank_id}/branches": {
            "get": {
                "description": "get branches available by a specific bank",
                "operationId": "7df4c9c4-fed4-4d34-bfbd-7bf4ddaebcdd",
                "parameters": [
                    {
                        "name": "bank_id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "list of branches",
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "application/json": {
                                "atms": [
                                    {
                                        "id": "1f5a-964",
                                        "bank_id": "at02-0182--01",
                                        "name": "OFICINA-964",
                                        "address": {
                                            "line_1": "Victor De La Serna, 32",
                                            "line_2": "NA",
                                            "line_3": "NA",
                                            "city": "MADRID",
                                            "county": "CHANMARTIN",
                                            "state": "MADRID",
                                            "postcode": "28016",
                                            "country_code": "ES"
                                        },
                                        "location": {
                                            "latitude": 40455451,
                                            "longitude": -3670617
                                        },
                                        "meta": {
                                            "license": {
                                                "id": "copyrightENBDG2016",
                                                "name": "Copyright 2016 ENBDG"
                                            }
                                        },
                                        "monday": {},
                                        "tuesday": {},
                                        "wednesday": {},
                                        "thursday": {},
                                        "friday": {},
                                        "saturday": {},
                                        "sunday": {},
                                        "is_accessible": "",
                                        "has_deposit_capability": ""
                                    },
                                    {
                                        "id": "3103-4922",
                                        "bank_id": "at02-0182--01",
                                        "name": "OFICINA-4922",
                                        "address": {
                                            "line_1": "Alberto Alcocer,48",
                                            "line_2": "NA",
                                            "line_3": "NA",
                                            "city": "MADRID",
                                            "county": "CHANMARTIN",
                                            "state": "MADRID",
                                            "postcode": "28016",
                                            "country_code": "ES"
                                        },
                                        "location": {
                                            "latitude": 40458424,
                                            "longitude": -3678969
                                        },
                                        "meta": {
                                            "license": {
                                                "id": "copyrightENBDG2016",
                                                "name": "Copyright 2016 ENBDG"
                                            }
                                        },
                                        "monday": {},
                                        "tuesday": {},
                                        "wednesday": {},
                                        "thursday": {},
                                        "friday": {},
                                        "saturday": {},
                                        "sunday": {},
                                        "is_accessible": "",
                                        "has_deposit_capability": ""
                                    },
                                    {
                                        "id": "95a0-2241",
                                        "bank_id": "at02-0182--01",
                                        "name": "OFICINA-2241",
                                        "address": {
                                            "line_1": "Avenida Pio XII, 6 ",
                                            "line_2": "NA",
                                            "line_3": "NA",
                                            "city": "MADRID",
                                            "county": "CHANMARTIN",
                                            "state": "MADRID",
                                            "postcode": "28016",
                                            "country_code": "ES"
                                        },
                                        "location": {
                                            "latitude": 40464105,
                                            "longitude": -3675513
                                        },
                                        "meta": {
                                            "license": {
                                                "id": "copyrightENBDG2016",
                                                "name": "Copyright 2016 ENBDG"
                                            }
                                        },
                                        "monday": {},
                                        "tuesday": {},
                                        "wednesday": {},
                                        "thursday": {},
                                        "friday": {},
                                        "saturday": {},
                                        "sunday": {},
                                        "is_accessible": "",
                                        "has_deposit_capability": ""
                                    },
                                    {
                                        "id": "c0c2-4015",
                                        "bank_id": "at02-0182--01",
                                        "name": "OFICINA-4015",
                                        "address": {
                                            "line_1": "Principe De Vergara, 267",
                                            "line_2": "NA",
                                            "line_3": "NA",
                                            "city": "MADRID",
                                            "county": "CHANMARTIN",
                                            "state": "MADRID",
                                            "postcode": "28016",
                                            "country_code": "ES"
                                        },
                                        "location": {
                                            "latitude": 40457394,
                                            "longitude": -3677183
                                        },
                                        "meta": {
                                            "license": {
                                                "id": "copyrightENBDG2016",
                                                "name": "Copyright 2016 ENBDG"
                                            }
                                        },
                                        "monday": {},
                                        "tuesday": {},
                                        "wednesday": {},
                                        "thursday": {},
                                        "friday": {},
                                        "saturday": {},
                                        "sunday": {},
                                        "is_accessible": "",
                                        "has_deposit_capability": ""
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/banks/{bank_id}/atms/{atm_id}": {
            "get": {
                "description": "get atm info",
                "operationId": "c617fb31-2745-4950-8f83-56b000ff6aad",
                "parameters": [
                    {
                        "name": "bank_id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "atm_id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get atm info given atm and bank id",
                        "schema": {
                            "$ref": "#/definitions/Response"
                        }
                    }
                }
            }
        },
        "/banks": {
            "get": {
                "description": "get list of banks",
                "operationId": "e95e9cc1-20bc-4ceb-81d1-04746841d417",
                "parameters": [
                    {
                        "name": "user_key",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "x-data-threescale-name": "user_keys"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get list of available banks",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Bank"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "id": "some text",
                                    "short_name": "some text",
                                    "full_name": "some text",
                                    "logo": "some text",
                                    "website": "some text",
                                    "bank_routing": {
                                        "scheme": "some text",
                                        "address": "some text"
                                    }
                                },
                                {
                                    "id": "some text",
                                    "short_name": "some text",
                                    "full_name": "some text",
                                    "logo": "some text",
                                    "website": "some text",
                                    "bank_routing": {
                                        "scheme": "some text",
                                        "address": "some text"
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/banks/{bank_id}": {
            "get": {
                "description": "get bank details",
                "operationId": "0b8117f5-284e-469b-9978-cab45d1e6f5e",
                "parameters": [
                    {
                        "name": "bank_id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "list of bank details given the bank id",
                        "schema": {
                            "$ref": "#/definitions/Response"
                        }
                    }
                }
            }
        },
        "/banks/{bank_id}/atms": {
            "get": {
                "description": "get bank atms",
                "operationId": "8cd0d512-aca6-40e1-b753-33efa3d81d12",
                "parameters": [
                    {
                        "name": "bank_id",
                        "in": "path",
                        "description": "Bank id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "user_key",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "x-data-threescale-name": "user_keys"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get list of atms given bank id",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ATM"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "bankid": "some text",
                                    "atmdescription": "some text"
                                },
                                {
                                    "bankid": "some text",
                                    "atmdescription": "some text"
                                }
                            ]
                        }
                    }
                }
            },
            "post": {
                "operationId": "atmlistset",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Request body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ATMS"
                        }
                    },
                    {
                        "name": "bank_id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response Ok",
                        "schema": {
                            "$ref": "#/definitions/Response"
                        }
                    },
                    "201": {
                        "description": "ATM list creation",
                        "schema": {
                            "$ref": "#/definitions/Response"
                        },
                        "examples": {
                            "application/json": {
                                "repsonse": "some text"
                            }
                        }
                    }
                }
            }
        },
        "/banks/{bank_id}/branches/{branch_id}": {
            "get": {
                "description": "get branch info",
                "operationId": "0f933ee9-c3ff-46c1-a596-ebb2d1267cf0",
                "parameters": [
                    {
                        "name": "bank_id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "branch_id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "returns branch info given branch and bank id",
                        "schema": {
                            "$ref": "#/definitions/Response"
                        }
                    }
                }
            }
        },
        "/banks/{bank_id}/products": {
            "get": {
                "description": "get products",
                "operationId": "a78bc8ee-cf2d-4023-8c5a-d854043f2753",
                "parameters": [
                    {
                        "name": "bank_id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get products available in a given bank",
                        "schema": {
                            "$ref": "#/definitions/Response"
                        }
                    }
                }
            }
        },
        "/banks/{bank_id}/products/{product_id}": {
            "get": {
                "description": "get product info",
                "operationId": "2b99962a-7275-4d09-8993-bc87b659bd60",
                "parameters": [
                    {
                        "name": "bank_id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "product_id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get product info given a bank and product id",
                        "schema": {
                            "$ref": "#/definitions/Response"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "ATM": {
            "description": "atm",
            "type": "object",
            "properties": {
                "bankid": {
                    "description": "Bank id",
                    "type": "string"
                },
                "atmdescription": {
                    "description": "Atm description",
                    "type": "string"
                }
            }
        },
        "Response": {
            "description": "OpenBanking response",
            "type": "object",
            "properties": {
                "repsonse": {
                    "type": "string"
                }
            }
        },
        "ATMS": {
            "type": "object",
            "properties": {
                "atms": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ATM"
                    }
                }
            }
        },
        "Bank": {
            "title": "Root Type for Bank",
            "description": "The root of the Bank type's schema.",
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "short_name": {
                    "type": "string"
                },
                "full_name": {
                    "type": "string"
                },
                "logo": {
                    "type": "string"
                },
                "website": {
                    "type": "string"
                },
                "bank_routing": {
                    "type": "object",
                    "properties": {
                        "scheme": {
                            "type": "string"
                        },
                        "address": {
                            "type": "string"
                        }
                    }
                }
            },
            "example": "{\n    \"id\": \"psd201-bank-x--uk\",\n    \"short_name\": \"Bank X\",\n    \"full_name\": \"The Bank of X\",\n    \"logo\": \"https://static.openbankproject.com/images/sandbox/bank_x.png\",\n    \"website\": \"https://www.example.com\",\n    \"bank_routing\": {\n        \"scheme\": \"OBP\",\n        \"address\": \"psd201-bank-x--uk\"\n    }\n}"
        }
    },
    "securityDefinitions": {
        "userkey": {
            "type": "apiKey",
            "description": "userkey",
            "name": "user-key",
            "in": "query"
        }
    },
    "security": [
        {
            "userkey": []
        }
    ],
    "tags": [
        {
            "name": "PSD2",
            "description": ""
        },
        {
            "name": "Open Banking",
            "description": ""
        },
        {
            "name": "Branch",
            "description": ""
        },
        {
            "name": "ATM",
            "description": ""
        },
        {
            "name": "Product",
            "description": ""
        }
    ]
}
